body {
    min-width: 900px;
    margin: 10px 0 0;
}

.tacts-list {
    display: inline-block;
}

.tacts-list li {
    width: 100px;
    height: 50px;
    display: inline-block;
    background: #ecf0f1;
    border: 2px solid transparent;
    border-radius: 3px;
}
.tacts-list li.current {
    background: #f1c40f;
    border: 2px solid #f39c12;
}
.tacts-list li.success {
    background: #2ecc71;
}
.tacts-list li.error {
    background: #e74c3c;
}

.mark {
    background: red;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: #fff;
    display: table;
}

.mark__text {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-size: 14px;
}

.mark_level_2 {
    margin-bottom: 35px;
}

.mark_level_3 {
    margin-bottom: 70px;
}

.mark_level_4 {
    margin-bottom: 105px;
}

.mark_level_5 {
    margin-bottom: 140px;
}

.mark_level_6 {
    margin-bottom: 175px;
}

.help li {
    display: block;
}

.melody {
    text-align: center;
    margin: 20px 0 10px;
}

.inline-block {
    display: inline-block;
}

.margin-top-10 {
    margin-top: 20px;
}