#app
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 4px;
    background-color: #77A;
    background: -webkit-linear-gradient(top, white, #003);
    background: -moz-linear-gradient(top, white, #003);
    background: -ms-linear-gradient(top, white, #003);
    background: linear-gradient(top, white, #003);
}

#app>header
{
    margin: 0;
    padding: 0 0.5em;
    font-size: 1.5em;
    color: WhiteSmoke;
    background-color: #006;
}

#app>footer
{
    position: absolute;
    bottom: 0;
    padding: 0.25em;
    color: WhiteSmoke;
}

#main
{
    padding: 4px;
    text-align: center;
}

.keyboard
{
    text-align: center;
    background-color: #272927;
    color: #000000;
    padding: 10px 10px 13px;
}

.backboard
{
    /*position: relative;*/
    /*height: 32px;*/
    /*background-color: #2A1506;*/
    /*border-bottom: 2px solid black;*/
    /*box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.9);*/
}

.keys {
    display: inline-block;
}

.keyboard .piano-key
{
    display: inline-block;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    cursor: pointer;
}

.keyboard .piano-key.white
{
    width: 50px;
    height: 300px;
    background-color: #F4F4F4;
    border: 1px solid #626262;
    position: relative;
    -moz-border-radius: 0 0 15px 15px;
    border-radius: 0 0 15px 15px;
    background-image: -webkit-gradient(center bottom , #FFFFFF 90%, #CCCCCC 100%);
    -webkit-box-shadow: 0 -10px 2px 0px #838383 none, 0 -60px 40px 10px #EEEEEE inset;
    background-image: -moz-linear-gradient(center bottom , #FFFFFF 90%, #CCCCCC 100%);
    -moz-box-shadow: 0 -10px 2px 0px #838383 inset, 0 -60px 40px 10px #EEEEEE inset;
    background-image: -gradient(center bottom , #FFFFFF 90%, #CCCCCC 100%);
    box-shadow: 0 -10px 2px 0px #838383 inset, 0 -60px 40px 10px #EEEEEE inset;
    z-index: 1;
}
.keyboard .piano-key.white.down
{
    background-color: #F1F1F0;
    background: -webkit-linear-gradient(top, Ivory, #D5D5D0);
    background: -moz-linear-gradient(top, Ivory, #D5D5D0);
    background: -ms-linear-gradient(top, Ivory, #D5D5D0);
    background: linear-gradient(top, Ivory, #D5D5D0);
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.6);
}

.keyboard .piano-key.black
{
    position: relative;
    width: 40px;
    height: 200px;
    left: -23px;
    margin-right: -46px;
    vertical-align: top;
    z-index: 2;

    background-color: #000000;
    border-bottom: 2px solid #000;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    border-top: 0px;
    -moz-box-shadow: 0 -9px 10px 9px #303030 inset, 0 -15px #F7F7F7 inset;
    -webkit-box-shadow: 0 -9px 10px 9px #303030 inset, 0 -15px #F7F7F7 inset;
    box-shadow: 0 -9px 10px 9px #303030 inset, 0 -15px #F7F7F7 inset;
}
.keyboard .piano-key.black.down
{
    background-color: #111;
    background: -webkit-linear-gradient(top, Black, #222);
    background: -moz-linear-gradient(top, Black, #222);
    background: -ms-linear-gradient(top, Black, #222);
    background: linear-gradient(top, Black, #222);
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.6);
}

.controls
{
    margin-top: 2em;
    color: white;
}
.controls input
{
    vertical-align: middle;
}
.controls input[type=range]
{
    width: 10em;
}