<div class="game">

    Действия с отмеченными нотами:<br>
    <button class="game__clear <%= !game.canClear() ? 'disabled' : '' %>" >Очистить</button>
    <button class="game__undo <%= !game.canUndo() ? 'disabled' : '' %>">Отменить последнее добавление</button>
    <button class="game__repeat <%= !game.canRepeat() ? 'disabled' : '' %>">Повторить последнее добавление ноты</button>

    <br><br>

    Опции игры<br>
    <button class="game__repeat-tact">Повторить последний такт</button>
    <button class="game__skip-tact">Пропустить такт</button>
    <button class="game__next">Далее</button>
    <button class="game__check <%= !game.canCheckMarks() ? 'disabled' : '' %>">Проверить</button>
    <button class="game__melody">Прослушать мелодию полностью</button>

    <% if (game.getLastMessage()) { %>
        <%= game.getLastMessage()  %>
    <% } %>

    <ul class="help">
        <li>Очистить - Backspace</li>
        <li>Отменить - Стрелка влево</li>
        <li>Повторить - Стрелка вправо</li>

        <li>Проверить - Alt + Enter</li>

        <li>Повторить - Enter</li>
        <li>Проиграть мелодию на клавиатуре - Shift + Enter</li>
        <li>Прослушать мелодию - Ctrl + Enter</li>
    </ul>
</div>