<div class="game">

    Действия с отмеченными нотами:<br>
    <button class="game__clear-key <%= !game.canClear() ? 'disabled' : '' %>" >Очистить</button>
    <button class="game__undo-key <%= !game.canUndo() ? 'disabled' : '' %>">Отменить последнее добавление</button>
    <button class="game__repeat-key <%= !game.canRepeat() ? 'disabled' : '' %>">Повторить последнее добавление ноты</button>

    <br><br>

    Прослушивание:<br>
    <button class="game__repeat-tact">Повторить последний такт</button>
    <button class="game__melody">Прослушать мелодию полностью</button>
    <br><br>

    Опции игры:<br>
    <button class="game__skip-tact">Пропустить такт</button>
    <button class="game__next">Далее</button>
    <button class="game__check-tact <%= !game.canCheckMarks() ? 'disabled' : '' %>">Проверить</button>

    <br>
    <% if (game.getLastMessage()) { %>
        <%= game.getLastMessage()  %>
    <% } %>

    <ul class="help">
        <li>Очистить - <b>Backspace</b></li>
        <li>Отменить - <b>Стрелка влево</b></li>
        <li>Повторить - <b>Стрелка вправо</b></li>

        <li>Проверить - <b>Alt + Enter</b></li>

        <li>Повторить - <b>Enter</b></li>
        <li>Проиграть мелодию на клавиатуре - <b>Shift + Enter</b></li>
        <li>Прослушать мелодию - <b>Ctrl + Enter</b></li>
    </ul>
</div>