<div class="game text-center">

    <div class="pull-left">
        <h3>Фортепиано</h3>

        <div class="btn-group btn-group-lg">
            <button class="btn btn-warning game__clear-key" <%= !game.canClear() ? 'disabled' : '' %>
                type="button" title="Очистить все ноты на фортепиано">
                <span class="glyphicon glyphicon-trash"></span>
            </button>

            <button class="btn btn-default game__undo-key" <%= !game.canUndo() ? 'disabled' : '' %>
                type="button" title="Удалить последнюю ноту на фортепиано">
                <span class="glyphicon glyphicon glyphicon-step-backward"></span>
            </button>

            <button class="btn btn-default game__repeat-key" <%= !game.canRepeat() ? 'disabled' : '' %>
                type="button" title="Повторить последнее добавление ноты на фортепиано">
                <span class="glyphicon glyphicon glyphicon-step-forward"></span>
            </button>

            <button class="btn btn-primary game__play-piano" <%= !game.canPlayPiano() ? 'disabled' : '' %>
                type="button" title="Проиграть ноты на фортепиано">
                <span class="glyphicon glyphicon-play"></span>
            </button>

        </div>
    </div>

    <div class="inline-block">
        <h3>Игра</h3>

        <div class="btn-group btn-group-lg">
            <button class="btn btn-danger game__skip-tact" <%= !game.canSkipTact() ? 'disabled' : '' %>
                title="Пропустить такт">
                <span class="glyphicon glyphicon-fire"></span>
            </button>
            <button class="btn btn-default game__next" title="Далее">
                <span class="glyphicon glyphicon glyphicon-play"></span>
            </button>
            <button class="btn btn-success game__check-tact" <%= !game.canCheckMarks() ? 'disabled' : '' %>
                title="Проверить">
                <span class="glyphicon glyphicon-ok"></span>
            </button>
        </div>
    </div>

    <div class="pull-right">
        <h3>Прослушивание</h3>
        <div class="btn-group btn-group-lg">
            <button class="btn btn-info game__repeat-tact" title="Повторить последний такт">
                <span class="glyphicon glyphicon-repeat"></span>
            </button>
            <button class="btn btn-default game__melody" title="Прослушать мелодию полностью">
                <span class="glyphicon glyphicon-music"></span>
            </button>
        </div>
    </div>

    <% if (game.getLastMessage()) { %>
        <% if(game.getLastMessage().status === 'success') { %>
        <div class="alert alert-success margin-top-10" role="alert">
            <%= game.getLastMessage().text %>
        </div>
        <% } %>
        <% if(game.getLastMessage().status === 'error') { %>
        <div class="alert alert-danger margin-top-10" role="alert">
            <%= game.getLastMessage().text %>
        </div>
        <% } %>
    <% } %>

</div>