<h1 class="text-center">Шаг 1. Выбор файла</h1>

<% if(message) { %>
    <div class="alert alert-danger"><%= message %></div>
<% } %>

<div class="row">
    <div class="col-md-6">
        <h2>Выберите один из MIDI файлов</h2>
        <p>
            К сожалению, пока нет файлов для загрузки
        </p>
    </div>
    <div class="col-md-6">
        <h2>Или загрузите свой файл</h2>
        <form id="upload-file" method="post" enctype="multipart/form-data">
            <fieldset>
                <input id="file" name="file" type="file" style="margin-bottom: 20px">
            </fieldset>
            <fieldset>
                <button id="upload-file-btn" type="button" class="btn">Загрузить</button>
            </fieldset>
        </form>
    </div>
</div>